.Messages {
  margin-top: 2rem;
  width: 90vw;
  height: 85vh;
  border: var(--gray-border);
  display: flex;
  border-radius: 0.5rem;
}
.Messages__left {
  border-right: var(--gray-border);
  width: 40%;
}
.Messages__left__list-item {
  display: flex;
  align-items: center;
  padding: 2rem;
  cursor: pointer;
  position: relative;
}
.Messages__left__list-item__info {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
.Messages__left__list-item__info h2 {
  color: var(--black);
  font-weight: 700;
  font-size: 1.8rem;
}
.Messages__right {
  width: 60%;
}
.user-online-status {
  border: 1px solid white;
  display: block;
  height: 1rem;
  width: 1rem;
  background-color: rgb(21, 219, 21);
  position: absolute;
  left: 4.5rem;
  top: 4.5rem;
  border-radius: 50%;
}
