.Messages {
  margin-top: 2rem;
  width: 90vw;
  height: 85vh;
  border: var(--gray-border);
  display: flex;
  border-radius: 0.5rem;
}
.Messages__left {
  border-right: var(--gray-border);
  width: 40%;
}
.Messages__left__list-item {
  display: flex;
  align-items: center;
  padding: 2rem;
  cursor: pointer;
}
.Messages__left__list-item h2 {
  color: var(--black);
  font-weight: 700;
  font-size: 1.8rem;
  margin-left: 2rem;
}
.Messages__right {
  width: 60%;
}
