.Messages {
  margin-top: 2rem;
  width: 90vw;
  height: 85vh;
  border: var(--gray-border);
  display: flex;
  border-radius: 0.5rem;
}
.Messages__left {
  border-right: var(--gray-border);
  width: 40%;
}
.Messages__right {
  width: 60%;
}
