.ForgotPassword {
  padding-bottom: 0;
}

.ForgotPassword h1 {
  font-family: inherit;
  font-size: 1.8rem;
  padding-top: 1rem;
}
.ForgotPassword h2 {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: 1rem;
}
.ForgotPassword a {
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 600;
  text-decoration: none;
}
.ForgotPassword__link--signup {
  padding: 2rem 0 7rem;
}
.ForgotPassword__link--login {
  border-top: var(--gray-border);
  padding: 2rem 0;
  width: 100%;
}
#separator {
  padding: 3rem 0 0;
}
#separator::after,
#separator::before {
  content: '';
  display: inline-block;
  width: 10rem;
  border-bottom: var(--gray-border);
  position: relative;
  bottom: 0.5rem;
}
#separator::after {
  left: 2.5rem;
}
#separator::before {
  right: 2.5rem;
}
