.Header {
  width: 100vw;
  min-height: 6rem;
  border-bottom: var(--gray-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  color: var(--black);
  position: relative;
}
.Header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Header__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Header h1 {
  font-family: 'Oleo Script';
  font-size: 2rem;
  font-weight: 400;
  margin-right: 3rem;
}
