.MoreOptions {
  position: absolute;
  bottom: 9.5rem;
  left: 0.5rem;
  list-style: none;
  width: 20rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: white;
  color: var(--black);
  box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
  z-index: 30;
}
.MoreOptions::after {
  content: '';
  background-color: white;
  width: 1rem;
  height: 1rem;
  position: absolute;
  bottom: -0.5rem;
  left: 3.5rem;
  transform: rotate(45deg);
  box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 5px;
}
.MoreOptions a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.MoreOptions li {
  border-bottom: var(--gray-border);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 0;
}
.MoreOptions li:hover {
  background-color: #efefef;
}
.MoreOptions li:last-child {
  border-bottom: none;
  flex-direction: column;
  align-items: flex-start;
}

.logout-error {
  color: var(--red);
}
