.XSearchBar {
  width: 80vw;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 30rem;
  background: #efefef;
  border-radius: 0.5rem;
}
.XSearchBar__form {
}
.XSearchBar__form label {
  position: relative;
  display: flex;
  align-items: center;
}
.XSearchBar__form input {
  width: 100%;
  padding: 0.75rem 1rem;
  text-indent: 4rem;
  border-radius: 0.5rem;
  border: none;
  background: #efefef;
  font-family: inherit;
  font-size: 1.8rem;
}
.XSearchBar__form input.active {
  text-indent: 0;
}
.XSearchBar__form__search-icon,
.XSearchBar__form__close-icon {
  position: absolute;
}
.XSearchBar__form__search-icon {
  filter: invert(50%);
  left: 1rem;
}
.XSearchBar__form__close-icon {
  border-radius: 50%;
  background-color: var(--gray);
  top: 0.5rem;
  right: 1rem;
  transform: scale(0.65);
  cursor: pointer;
}
/* results */
.XSearchBar__results {
  border-top: var(--gray-border);
  height: 400px;
  background: #efefef;
  z-index: 100;
}
.XSearchBar__results__item {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
}
.XSearchBar__results__item__info {
  margin-left: 2rem;
}
.XSearchBar__results__item__info h2 {
  font-size: 1.8rem;
  cursor: pointer;
}
.XSearchBar__results__item__info h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--gray);
}
.btn--remove-recent-search {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.btn--remove-recent-search img {
  filter: invert(50%);
}
