.CreateNewPost {
  min-width: 43.5rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}
.CreateNewPost__btn--close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: white;
  border: none;
  background: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
}
.CreateNewPost__btn--close img {
  width: 2.5rem;
  height: 2.5rem;
}
