.CreateNewPost {
  min-width: 43.5rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}
.CreateNewPost__btn--close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: white;
  border: none;
  background: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
}

.create-post-error {
  z-index: 100;
  color: var(--red);
  font-size: 2rem;
  position: absolute;
  top: 15%;
}
