.PostLikedBy {
  background-color: white;
  border-radius: 1rem;
  width: 40rem;
}
.PostLikedBy__header {
  height: 4.3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--gray-border);
}
.PostLikedBy__header h2 {
  color: var(--black);
  font-size: 2rem;
  font-weight: 600;
}
.PostLikedBy__header button {
  position: absolute;
  right: 2rem;
  width: 3rem;
  height: 3rem;
}
.PostLikedBy__header img {
  filter: invert(100%);
  width: inherit;
  height: inherit;
}
.PostLikedBy__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.PostLikedBy__user__info {
  display: flex;
  align-items: center;
}
.PostLikedBy__user__info__names {
  padding-left: 1.5rem;
}
.PostLikedBy__user__info__names h2 {
  color: var(--black);
  font-size: 1.8rem;
}
.PostLikedBy__user__info__names h3 {
  color: var(--gray);
  font-size: 1.4rem;
  font-weight: 400;
}
@media (max-width: 400px) {
  .PostLikedBy {
    width: 26rem;
  }
}
