.PostComment {
  font-size: 1.4rem;
  display: flex;
  margin-bottom: 3rem;
}
.PostComment__main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.PostComment__main__inner {
  padding-left: 2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.PostComment__main__inner p {
  white-space: pre-wrap;
  color: var(--black);
}
.PostComment__main__inner span {
  font-weight: 700;
  white-space: pre-line;
}
.PostComment__controls {
  display: flex;
  padding-top: 0.5rem;
  width: 25rem;
}
.PostComment__controls p {
  color: var(--gray);
  font-weight: 400;
}
.btn--reply {
  color: var(--gray);
  font-weight: 700;
  margin-left: 1.5rem;
}

.PostComment__replies {
  padding-top: 2rem;
}
.btn--toggle-replies {
  color: var(--gray);
  font-weight: 700;
}
.btn--toggle-replies::before {
  content: '';
  display: inline-block;
  width: 3rem;
  height: 0.1rem;
  background-color: var(--gray);
  position: relative;
  bottom: 0.3rem;
  margin-right: 1rem;
}
.replay {
  padding-top: 1rem;
}
