.Post {
  --width: 90vmax;
  max-height: 50rem;
  width: var(--width);
  background-color: white;
  border: var(--gray-border);
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
}
.Post__image-wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Post__image-container {
  background-color: white;

  width: calc(var(--width) - 50rem);
  height: calc(var(--width) - 50rem);
}
.Post__info {
  width: 50rem;
  border-left: var(--gray-border);
  position: relative; /* for Emojis to be absolute */
}
@media only screen and (max-width: 470px) {
  .Post {
    width: 100vw;
  }
}
