.Post {
  width: 90vmax;
  height: 90vmax;
  max-height: 90vh;
  background-color: white;
  border: var(--gray-border);
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
}
.Post__image-wrapper {
  background-color: white;
  flex-grow: 2;
  flex-shrink: 2;
  min-width: 1px;
  min-height: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Post__image-container {
}
.Post__info {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 50rem;
  border-left: var(--gray-border);
  position: relative; /* for Emojis to be absolute */
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 470px) {
  .Post {
    width: 100vw;
  }
}
