@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
html {
  font-size: 10px;
  font-family: 'Roboto', monospace;
  font-weight: 400;
  box-sizing: border-box;
}
:root {
  --gray-border: 1px solid rgb(219, 219, 219);
  --black: #262626;
  --gray: #8e8e8e;
  --blue: #0095f6;
  --red: #eb6161;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  color: var(--gray);
  background-color: #fafafa;
}
a {
  color: var(--black);
  text-decoration: none;
}
.App {
  width: 100vw;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;*/
}
.gray {
  opacity: 0.5;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* when you need overlay but from parent with relative position*/
.child-overlay {
  z-index: 25;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
}
.btn--close img {
  height: 2.5rem;
  width: 2.5rem;
}
.error {
  color: var(--red);
  font-size: 1.6rem;
  padding-top: 1rem;
  font-weight: bold;
}
.AuthWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome {
  width: 100vw;
  max-width: 500px;
  font-size: 16px;
  padding: 30px;
  text-align: center;
}
.welcome h3 {
  font-size: 2rem;
}

.welcome p {
  padding-top: 2rem;
}
.welcome a {
  color: var(--blue);
  font-weight: 600;
}
