@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
html {
  font-size: 10px;
  font-family: 'Roboto', monospace;
  font-weight: 400;
  box-sizing: border-box;
}
:root {
  --gray-border: 1px solid rgb(219, 219, 219);
  --black: #262626;
  --gray: #8e8e8e;
  --blue: #0095f6;
  --red: #eb6161;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  color: var(--gray);
  background-color: #fafafa;
}
.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.gray {
  opacity: 0.5;
}
.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}
.error {
  color: var(--red);
  font-size: 1.6rem;
  padding-top: 1rem;
  font-weight: bold;
}
