.MessageItem {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.MessageItem.left,
.MessageItem__body.left {
  justify-content: flex-start;
}
.MessageItem.right,
.MessageItem__body.right {
  justify-content: flex-end;
}
.MessageItem__body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
}
.MessageItem__body p {
  color: var(--black);
  font-size: 1.4rem;
  padding: 2rem;
  border: var(--gray-border);
  border-radius: 3rem;
}
.MessageItem__body__control {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.MessageItem__body button {
  color: var(--gray);
  visibility: hidden;
}
.MessageItem__body:hover button {
  color: var(--gray);
  visibility: visible;
}
.MessageItem__options {
  height: 3rem;
  background-color: var(--black);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.MessageItem__options::after {
  display: block;
  content: '';
  height: 1rem;
  width: 1rem;
  background-color: var(--black);
  position: absolute;
  top: 2.25rem;
  right: 1.1rem;
  transform: rotate(45deg);
}
.btn--unsend {
  visibility: visible;
  color: white;
}
