.MessageMainBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.MessageMainBody__header {
  border-bottom: var(--gray-border);
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}
.MessageMainBody__header h2 {
  margin-left: 1rem;
  font-weight: 700;
  color: var(--black);
  font-size: 1.8rem;
}
.MessageMainBody__messages {
  flex-grow: 2;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}
.MessageMainBody__messages__emojis {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.MessageMainBody__new-message {
  min-height: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.MessageMainBody__new-message__form {
  padding: 0 2rem;
  width: 100%;
  position: relative;
}
.MessageMainBody__new-message__form textarea {
  border-radius: 1rem;
  border: var(--gray-border);
  width: 100%;
  resize: none;
  min-height: 3rem;
  max-height: 10rem;
  padding: 1rem 6rem 1rem 4rem;
  font-family: inherit;
  outline: none;
  font-family: inherit;
}
.btn--direct-emoji {
  position: absolute;
  height: 3rem;
  width: 3rem;
  left: 2.5rem;
  top: 0.75rem;
}
.btn--direct {
  font-size: 1.6rem;
  position: absolute;
  right: 3.5rem;
  top: 1.25rem;
}
