.FileUploadForm {
  position: relative;
  height: 43.5rem;
  max-width: 43.5rem;
  width: 100vw;
}
#file-input {
  display: none; /* hide input type file*/
}
.FileUploadForm__label {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FileUploadForm__label-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FileUploadForm__label-elements span {
  padding: 2rem 0 3rem;
}
.FileUploadForm label.drag-active {
  background-color: #ddd;
}
.FileUploadForm span {
  font-size: 2.2rem;
  color: var(--black);
}
.FileUploadForm img {
  height: 7.7rem;
  width: 7.7rem;
}
.btn--select-file {
  background-color: var(--blue);
  border: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.8rem;
}
.drag-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
