.Filter {
  padding: 5px 0 15px;
  cursor: pointer;
}
.Filter img {
  border: 3px solid black;
  width: 88px;
  height: 88px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.Filter h3 {
  padding-top: 0.5rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  text-align: center;
}
