.Filter {
  margin-top: 1.5rem;
  cursor: pointer;
}
.Filter__image-wrapper {
  height: 8.8rem;
  width: 8.8rem;
  overflow: hidden;
  border: 3px solid white;
  border-radius: 0.3rem;
}
.Filter__image-wrapper.active {
  border-color: var(--blue);
}
.Filter__image-wrapper .PostImage img {
  overflow: hidden;
  border-radius: 0.3rem;
}
.Filter__image-wrapper.active .PostImage img {
  border-radius: 0;
}
.Filter h3 {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  text-align: center;
}
.Filter h3.active {
  color: var(--blue);
}
