.ImageInfoPanel {
  display: flex;
}
.ImageInfoPanel__image {
  height: 36.7rem;
  width: 36.7rem;
}
.ImageInfoPanel__info {
  height: 43.5rem;
  width: 33.5rem;
  border-left: var(--gray-border);
  overflow: scroll;
  padding-bottom: 2rem;
}
.ImageInfoPanel__info__user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 1.5rem 0;
}
.ImageInfoPanel__info__user h2 {
  color: var(--black);
  padding-left: 1.5rem;
  font-size: 1.8rem;
  font-size: 700;
}
.ImageInfoPanel__info__form textarea {
  resize: none;
  width: 100%;
  height: 16rem;
  border: none;
  padding: 1.5rem;
  font-family: inherit;
  outline: none;
}
.ImageInfoPanel__info__form label {
  border-bottom: var(--gray-border);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
}
.ImageInfoPanel__info__form input {
  outline: none;
  border: none;
  width: 90%;
  font-size: 1.8rem;
  padding: 1.5rem;
  overflow: hidden;
}

.ImageInfoPanel__info__form__emoji {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: var(--gray-border);
}
.ImageInfoPanel__info__form__emoji p {
  font-size: 1.4rem;
}
.label-icon {
  position: absolute;
  right: 1.5rem;
}
.ImageInfoPanel__info__form__dropdown {
  width: 100%;
  padding: 1.5rem;
}
.ImageInfoPanel__info__form__dropdown header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ImageInfoPanel__info__form__dropdown h3 {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--black);
  cursor: pointer;
}
.ImageInfoPanel__expand p {
  font-size: 1.4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.ImageInfoPanel__expand__input > div {
  height: 4rem;
  display: flex;
  border: var(--gray-border);
  margin-bottom: 0.5rem;
}
.ImageInfoPanel__expand__input img {
  height: 4rem;
  width: 4rem;
}
.ImageInfoPanel__expand__input input {
  width: 90%;
  overflow: hidden;
  font-size: 1.6rem;
}
.expand-container header {
  display: grid;
  grid-template-columns: 5fr 1.1fr;
}
.expand-container h3 {
  padding-top: 1.5rem;
  font-weight: 400;
}
.expand-container p {
  font-size: 1.4rem;
  text-align: left;
}
