:root {
  --height: 43.5rem;
  --width: 43.5rem;
}
.ImageSizePanel {
  height: var(--height);
  width: var(--width);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ImageSizePanel__imageContainer {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.ImageSizePanel__imageContainer__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ImageSizePanel__size-buttons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
