:root {
  --height: 43.5rem;
  --width: 43.5rem;
}
.ImageSizePanel {
  height: var(--height);
  width: var(--width);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .size--1-1 {
  height: inherit;
  width: inherit;
}
.size--4-5 {
  height: var(--height);
  width: calc(var(--width) / 1.25);
}
.size--16-9 {
  width: var(--width);
  height: calc(var(--height) * 0.5625);
}
.size--original {
  width: var(--width);
} */
.ImageSizePanel__size-button {
  position: absolute;
  top: 0;
  left: 0;
}
