.Avatar {
  border: 2px solid var(--gray);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.Avatar--small {
  width: 2.5rem;
  height: 2.5rem;
}
.Avatar--mid {
  width: 3.8rem;
  height: 3.8rem;
}
.Avatar--mid-2 {
  width: 10rem;
  height: 10rem;
}
.Avatar--mid-3 {
  width: 7.5rem;
  height: 7.5rem;
}
.Avatar--big {
  width: 15rem;
  height: 15rem;
}
.Avatar__img {
  width: inherit;
  height: inherit;
  object-fit: fill;
}
