.ImageDotNavigation {
  position: absolute;
  width: 5rem;
  height: 1.5rem;
  z-index: 15;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ImageDotNavigation span {
  display: block;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: var(--gray);
  margin: 0 0.2rem;
}
.ImageDotNavigation span.active {
  background-color: var(--blue);
}
