.PostImage {
  height: inherit;
  width: inherit;
  position: relative;
}
.PostImage img {
  height: inherit;
  width: inherit;
}
.PostImage__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: inherit;
  width: inherit;
}
