.Notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.Notification__content {
  display: flex;
  align-items: center;
  flex-grow: 2;
}
.Notification__content p {
  /* width: 23rem; */
  margin-left: 1.5rem;
  font-size: 1.6rem;
  color: var(--black);
}
.Notification__content span {
  cursor: pointer;
}
.Notification__content__username {
  font-weight: 700;
}
.Notification__content__created-at {
  color: var(--gray);
}
.Notification__post {
  flex-grow: 1;
  cursor: pointer;
  height: 4.4rem;
  width: 4.4rem;
}
.Notification button {
  position: relative;
  bottom: 1.5rem;
}
.Notification:hover {
  background-color: rgb(235, 235, 235);
}
